# VIM stuffs
.vim/autoload
.vim/plugged
.vim/.vim
.vim/.netrwhist

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
